body {
	margin: 0;
	padding: 0;
	background: gray;
}

.container {
	height: 600px;
	width:400px;
	margin:0 auto;
	border:1px solid #fff;
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	background-image: url(img/buble.jpeg);
}

.head{
	height: 80px;
	background-color: #262830;
	color: #08CC9A;
	font-family: Ink Free;
	font-size: 24px;
	text-align: center;
}

.header{
	margin:15px 0;
}

.time{
	height: 70px;
	text-align: center;
	background-color: #fff;
	vertical-align: middle;
	padding-top: 15px;
	margin-bottom: 1px;
	z-index: 1;
}

#tasks{
	overflow:auto;
	margin-bottom: 70px;

}

.task{
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 5px;
	min-height: 50px;
	opacity: 0.9;
}

.check {
	height: 15px;
	width: 15px;
	border:1px solid #000;
	border-radius: 90px;
	box-shadow: 1px 1px 2px 2px rgba(34, 60, 80, 0.33);
	margin-top: 10px;
	background-color: #F5AC98;
	opacity: 0.5;
}


.checkFin {
	background-color: #48FF18;
}

.crossed {
	text-decoration:line-through;
}

h3{
	font-family: Ink Free;
}

.edit, .delete {
	width: 8%;
	margin-top: 10px;
}

.title {
	margin-top: 10px;
	width: 60%; 

}

.delete{
	opacity: 0.4;
}

.task_create{
	position:absolute;
	bottom: 0;
	right: 0;
	border:2px solid #000;
}

form{
	display:flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#add {
	height: 40px;
	width:197px;
	background-color: #01CE97;
	box-sizing: border-box;
	font-family: Ink Free;
	font-size: 28px
}

.create {
	height: 40px;
	width:197px;
	box-sizing: border-box;
}

#template {
	display: flex;
	margin-top: -58px;
	z-index: -1;
}